@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Rubik+Dirt&display=swap');

* {
margin: 0;
padding: 0;
box-sizing:  border-box;
}

a, a:active{
     text-decoration: none;
     color:  rgb(50, 7, 90);
}

html{
     scroll-behavior: smooth;
 }
 
 body{
     font-family: 'Roboto', sans-serif;
 }
 
 h2{font-size: 2em; color: rgb(194, 177, 81); font-family:Georgia, 'Times New Roman', Times, serif }
 p, h1 {font-family: "Mistery Quest", cursive; font-size: 1.1em;}
 